
@{
    ViewData["Title"] = "AboutUs";
}

@*Start Body*@

<section>
    <center>
        <div class="mt-2 p-5 bg-secondary w-75">
            <h1>Welcom To About Us</h1>
            <p>Route Academy </p>
        </div>
    </center>
</section>

@*End Body*@

