<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <header>
        <center>
            <nav class="mt-2">
                <a href="/Home/Index" class="btn btn-primary m-2">Home</a>
                <a href="/Home/Privacy" class="btn btn-warning m-2">Privacy</a>
                <a href="/Home/ContactUs" class="btn btn-success m-2">Contact Us</a>
                <a href="/Home/AboutUs" class="btn btn-secondary m-2">About Us</a>

                <a href="/Account/SignIn" class="btn btn-info m-2">Sign In</a>
                <a href="/Account/Register" class="btn btn-danger m-2">Register</a>

            </nav>
        </center>
    </header>


    <div>
        @RenderBody()
    </div>


    <footer>
        <center>
            <div>
                <p>Copyright &copy; Route @DateTime.Now.Year</p>
            </div>
        </center>
    </footer>

</body>
</html>
